<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="bitwarden" />
    <package id="discord" />
    <package id="docker-desktop" />
    <package id="gimp" />
    <package id="github-desktop" />
    <package id="git" />
    <package id="gcloudsdk" />
    <package id="terraform" />
    <package id="miktex" />
    <package id="firefox" />
    <package id="rust" />
    <package id="r" />
    <package id="steam" />
    <package id="nodejs" />
    <package id="netlogo" />
    <package id="vscode" />
    <package id="adobereader" />
    <package id="libreoffice-fresh" />
    <package id="python" />
    <package id="strawberryperl" />
</packages>
